doctype html
html
    head
        title NodeJS Publish/Subscribe Demo
        script(src="/socket.io/socket.io.js")
        script(src="client.js")
    body
        div#main
            h1 NodeJS Publish/Subscribe Demo
            p open http://server_domain_name_or_ip_address:12345  in two or more browser windows, press any key in
            | one of them to see it in action!
